@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
// font-family: 'Inter', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
// font-family: 'Lexend Deca', sans-serif;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $very-dark-blue;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: $white;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
